<h1>Your personal blog</h1>

<h1> <%= @user.name %> </h1>
<img class="img" src= "<%= @user.photo %>" >
<h1> <% @user.posts.each do |post| %> </h1>
  <ul>
     <h2> POST : <%= post.title %> </h2>
     <li><h3>Description : <%= post.body %> </h3></li>
      <% @post.comments.each do |comment| %>
        <li> <%= comment.body %> </li>
      <% end %> 
  </ul>
<%end %>